* {
    margin: 0; padding: 0;
    font-family: Source, Arial, sans-serif;
    box-sizing: border-box;
}
:root{
    --color-dark: #361999;
    --color-light: #78fff1;
}
body {
    background: linear-gradient(to top right,
    rgb(190, 188, 188),
    rgb(179, 176, 176)
    );
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.5);
}
#wrapper {
    max-width: 1000;
    margin: 0 auto;
    background-color: white;
}
header img {
    width: 100%;
    display: block;
}
nav {
    background-color: grey;
    text-align: center;
}
a.menu {
    display: inline-block;
    width: 20%;
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: all 0,5s ease;
}
a.menu:hover {
    background-color: crimson;
}
a.active {
    background-color: crimson;
}
 article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 10px 10px;
    height: 60vh;
 }
   article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 35% 20px;
    background-color: white;
    padding-bottom: 15px;
    border-bottom: 2px  solid crimson;
  }
  .price {
    text-align: center;
    text-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
    font-style: italic;
  }
img.left {
float: left;
width: 25%;
border-radius:50% 30% ;
margin: 0 10px 10px 0;
}
article p {
font-size: 20px;
text-align: justify;
line-height: 25px;
padding: 15px 0;
}
iframe {
width: 100%;
}
footer {
    height: 40px;
    background-color: black;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}
.number {
    text-align: center;
    margin: 0;
}
article a {
    margin: 10px 40%;
    font-size: 20px;

}
article h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px 35% 20px;
    background-color: white;
    padding-bottom: 15px;
    border-bottom: 2px  solid crimson;
}
.mail{
    text-align: center;
    margin: 0 38%;
}
.hour {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;

}
section.loginbox h1 {
    font-size: 30px;
    text-align: center;
    margin: 40px 35% 20px;
    background-color: white;
    padding-bottom: 15px;
    border-bottom: 2px  solid crimson;
}
form.log {
    background: linear-gradient(
        to top right,
        var(--color-dark),
        var(--color-light)
    );
    max-width: 300px;
    padding: 24px 36px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.3);
}
.boxlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 60vh;
    width: 100vh;
}
.form input-container {
    position: relative;
}
input,
button {
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.25)
    );
    border: none;
    border-radius: 18px;
    margin: 10px 0 10px 0;
    padding: 15px 24px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 18px;
    transition: box-szadow 0.3s, outline 0,3s;
} 
label {
    color: white;
    font-size: 18px;
    position: absolute;
    transform: translateY(+125%);
    opacity: 0.4;
    transition: right 0.3s, opacity 0.3s;
    font-style: italic;
    cursor: text;
    right: 51%;
}
.label_user {
    right: 54%;
}
input {
    width: 100%;
}
input:focus + label {
    right: 20px;
    opacity: 0;
    !--- naprawić literki powracajace na miejsce loginu i hasła---!
}
input:hover,
button:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
}
input:focus,
button:focus {
    outline: solid 2px rgba(255, 255, 255, 0.8);
}
button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button:after {
    background: rgba(255, 255, 255, 0.5);
    content:"";
    display: block;
    height: 100px;
    width: 50px;
    position: absolute;
    left: -70px;
    top: -50%;
    transform: skewX(-15deg);
    transition: left 0.15s linear;
    width: 50px;
}
button:hover:after {
    left:120%;
}
.spacer {
    background: rgba(255, 255, 255, 0.55);
    height: 2px;
    margin: 24px auto;
    width: 80%;
    border-radius: 100%;
}
.form_icon {
    height: 72px;
    width: 72px;
    border: solid 3px rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto 10px;
    position: relative;
    overflow: hidden;
}
.form_icon:before {
   background: rgba(255, 255, 255, 0.6);
   bottom: 0;
   content: "";
   display: block;
   height: 24px;
   position: absolute;
   width: 64px;
   border-radius: 50%;
}
.form_icon:after {
    background: rgba(255, 255, 255, 0.6);
   bottom: 45%;
   content: "";
   display: block;
   height: 30px;
   position: absolute;
   width: 30px;
   border-radius: 50%;
   left: 50%;
   transform: translateX(-50%);
}
#now {
height: 300px;
width: 100%;
color: black;
margin: 35px auto;
font-size: 20px;
text-align: justify;
background:linear-gradient(
    to top right,
    grey,
    white 
);
}







 

